<div class="btnRegion">
  <a class="btnRegion bg-red-300" href="/region/<%= gens.one %>"
    ><button>Gen 1</button></a
  >
  <a class="btnRegion bg-amber-300" href="/region/<%= gens.two %>"
    ><button>Gen 2</button></a
  >
  <a class="btnRegion bg-lime-300" href="/region/<%= gens.three %>"
    ><button>Gen 3</button></a
  >
  <a class="btnRegion bg-emerald-300" href="/region/<%= gens.four %>"
    ><button>Gen 4</button></a
  >
  <a class="btnRegion bg-cyan-300" href="/region/<%= gens.five %>"
    ><button>Gen 5</button></a
  >
  <a class="btnRegion bg-blue-300" href="/region/<%= gens.six %>"
    ><button>Gen 6</button></a
  >
  <a class="btnRegion bg-violet-300" href="/region/<%= gens.seven %>"
    ><button>Gen 7</button></a
  >
  <a class="btnRegion bg-fuchsia-300" href="/region/<%= gens.eight %>"
    ><button>Gen 8</button></a
  >
  <a class="btnRegion bg-rose-300" href="/region/<%= gens.nine %>"
    ><button>Gen 9</button></a
  >
</div>
