<a href="/region/<%= gens.one %>"><button>Gen1</button></a>
<a href="/region/<%= gens.two %>"><button>Gen2</button></a>
<a href="/region/<%= gens.three %>"><button>Gen3</button></a>
<a href="/region/<%= gens.four %>"><button>Gen4</button></a>
<a href="/region/<%= gens.five %>"><button>Gen5</button></a>
<a href="/region/<%= gens.six %>"><button>Gen6</button></a>
<a href="/region/<%= gens.seven %>"><button>Gen7</button></a>
<a href="/region/<%= gens.eight %>"><button>Gen8</button></a>
<a href="/region/<%= gens.nine %>"><button>Gen9</button></a>
