<div class="p-1 mx-2 my-1">
  <a
    class="btnRegion bg-red-300 border-red-400 text-slate-800"
    href="/region/<%= gens.one %>"
    ><button>Kanto</button></a
  >
  <a
    class="btnRegion bg-amber-300 border-amber-400 text-slate-800"
    href="/region/<%= gens.two %>"
    ><button>Johto</button></a
  >
  <a
    class="btnRegion bg-lime-300 border-lime-400 text-slate-800"
    href="/region/<%= gens.three %>"
    ><button>Hoenn</button></a
  >
  <a
    class="btnRegion bg-emerald-300 border-emerald-400 text-slate-800"
    href="/region/<%= gens.four %>"
    ><button>Sinnoh</button></a
  >
  <a
    class="btnRegion bg-cyan-300 border-cyan-400 text-slate-800"
    href="/region/<%= gens.five %>"
    ><button>Unova</button></a
  >
  <a
    class="btnRegion bg-blue-300 border-blue-400 text-slate-800"
    href="/region/<%= gens.six %>"
    ><button>Kalos</button></a
  >
  <a
    class="btnRegion bg-violet-300 border-violet-400 text-slate-800"
    href="/region/<%= gens.seven %>"
    ><button>Alola</button></a
  >
  <a
    class="btnRegion bg-fuchsia-300 border-fuchsia-400 text-slate-800"
    href="/region/<%= gens.eight %>"
    ><button>Galar</button></a
  >
  <a
    class="btnRegion bg-rose-300 border-rose-400 text-slate-800"
    href="/region/<%= gens.nine %>"
    ><button>Paldea</button></a
  >
</div>
