<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body class="body prose">
    <%- include("./partials/selection.ejs") %>
    <br />
    <% if (success) { %>
      <div class="success-message">
        <p>Success: <%= success %></p>
        <p>All trainers:</p>
        <ul>
          <%  trainers.map(trainer => { %>
            <p> <%= trainer.name %> <%= trainer.pokemon %> </p>
            <form action="/trainer/delete/<%= trainer.id %>" method="POST">
              <button type="submit">Delete trainer</button>
            </form>
          <% }) %>
        </ul>
      </div>
    <% } else if (!success){ %>
      <div class="error-message">
        <p>Error: <%= error %></p>
      </div>
    <% } %>
  </body>
</html>
