<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body class="body prose">
    <div class="main">
      <%- include("./partials/selection.ejs") %>
      <div class="flex flex-col justify-center items-center">
        <div class="m-2 text-lg font-bold">Add a Trainer!</div>
        <form
          class="max-w-2xl grid grid-cols-3 grid-rows-3 gap-2 algin-items"
          action="/trainer"
          method="POST"
        >
          <label
            class="col-start-1 col-end-2 row-start-1 row-end-2 justify-self-end self-end"
            for="name"
            >Name:</label
          >
          <input
            class="mx-4 px-2 py-1 col-start-2 col-end-3 row-start-1 row-end-2 min-w-0 border-0 border-b-2 border-solid border-gray-700 outline-none text-xl text-black bg-transparent duration-300 focus:outline-none focus:border-blue-400"
            type="text"
            name="name"
            id="name"
          />
          <label
            class="col-start-1 col-end-2 row-start-2 row-end-3 justify-self-end self-end"
            for="fav"
            >Favourite Pokemon:</label
          >
          <input
            class="mx-4 px-2 py-1 col-start-2 col-end-3 row-start-2 row-end-3 min-w-0 border-0 border-b-2 border-solid border-gray-700 outline-none text-xl text-black bg-transparent duration-300 focus:outline-none focus:border-blue-400"
            type="text"
            name="fav"
            id="fav"
          />
          <button
            class="px-2 py-1 max-w-[125px] col-start-3 row-start-2 rounded-md bg-indigo-200 justify-self-center"
            type="submit"
          >
            Add Trainer
          </button>
        </form>
      </div>
      <div class="container flex justify-center m-4 text-lg font-semibold">
        Trainer List
      </div>
      <% if (success) { %>
      <%- include("./partials/SuccessOrFailure.ejs", { type: 'success', message: success }) %>
      <% } else if (error) { %>
      <%- include("./partials/SuccessOrFailure.ejs", { type: 'error', message: error }) %>
      <% } %>
      <div class="container flex flex-wrap justify-center m-4">
        <% trainers.map(trainer => { %>
        <div
          class="flex flex-col items-center max-w-xs bg-stone-100 border-2 border-emerald-400 rounded-md m-2 p-2"
        >
          <p class="flex justify-center text-lg font-semibold">
            Trainer: <%= trainer.name.charAt(0).toUpperCase() +
            trainer.name.slice(1) %>
          </p>
          <p>
            Favourite Pokemon: <%= trainer.pokemon.charAt(0).toUpperCase() +
            trainer.pokemon.slice(1) %>
          </p>
          <img
            class="max-w-[256px]"
            src="/pokemon/<%= trainer.pokemon_id %>.png"
          />
        </div>
        <% }) %>
      </div>
    </div>
  </body>
</html>
