<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body class="body prose">
    <div class="main">
    <%- include("./partials/selection.ejs") %>
    <br />
    <%- include("./partials/regions.ejs") %>
      <div class="container flex flex-wrap justify-center m-4">
        <% pokemon.forEach((pokemon)=>%> <% { %>
          <div class="max-w-xs">ID: <%= pokemon.pokemon_id %> Name: <%= pokemon.pokemon_name %> <img class="max-w-[128px]" src="<%= image %>/<%= pokemon.pokemon_id %>.png"></div>
        <% }) %>
      </div>
    </div>
  </body>
</html>
